@model List<Chef>

<div class="container-fluid">
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Position</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Position</td>
                    <td><img src="~/Images/Chefs/@item.ImageUrl" style="width:100px;height:100px;" /></td>
                    <td>
                        <a asp-action="update" asp-controller="chef" asp-route-id ="@item.Id">
                            <i style="color:orange;font-size:18px;" class="fas fa-wrench"></i>
                        </a>
                    </td>
                    <td>
                        <a onclick="if(!confirm('Are you Sure?')){return false;}" asp-action="delete" asp-controller="chef" asp-route-id="@item.Id">
                            <i style="color:red;font-size:18px;" class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="add" asp-controller="chef" class="btn btn-primary w-100">Add Chef</a>
</div>
