@model MenuViewModel
@{
    var i = 0;
}
<ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
    @foreach (var category in Model.MenuCategories)
    {
        <li class="nav-item">
            <a class="d-flex align-items-center @(i==0 ? "active" : " " ) text-start mx-3 ms-0 pb-3 " data-bs-toggle="pill" href="#@category.Name">
                <i class="fa @category.Icon fa-2x text-primary"></i>
                <div class="ps-3">
                    <h6 class="mt-n1 mb-0">@category.Name</h6>
                </div>
            </a>
        </li>
        {
            i++;
        }
    }
</ul>
<div class="tab-content">
    @foreach (var category in Model.MenuCategories)
    {
        <div id="@category.Name" class="tab-pane fade @(i ==Model.MenuCategories.Count ? "active" : " " ) show p-0">
            <div class="row g-4">
                @foreach (var item in Model.MenuItems.Where(x => x.MenuCategory == category))
                {
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid rounded" src="~/Images/MenuItems/@item.ImageUrl" alt="" style="width: 80px;">
                            <div class="w-100 d-flex flex-column text-start ps-4">
                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                    <span>@item.Title</span>
                                    <span class="text-primary">$@item.Price</span>
                                </h5>
                                <small class="fst-italic">@item.Description</small>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

        {
            i++;
        }
    }

</div>